@font-face {
  font-family: 'Proxima Nova Black';
  src: url('../fonts/proxima-nova-alt-black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova-alt-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova-alt-black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/proxima-nova-alt-black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/proxima-nova-alt-black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/proxima-nova-alt-black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Nova bold';
  src: url('../fonts/proxima-nova-alt-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova-alt-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova-alt-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/proxima-nova-alt-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/proxima-nova-alt-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/proxima-nova-alt-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Nova condensed semibold';
  src: url('../fonts/proxima-nova-alt-condensed-semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova-alt-condensed-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova-alt-condensed-semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/proxima-nova-alt-condensed-semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/proxima-nova-alt-condensed-semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/proxima-nova-alt-condensed-semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Nova regular';
  src: url('../fonts/proxima-nova-alt-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova-alt-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova-alt-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/proxima-nova-alt-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/proxima-nova-alt-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/proxima-nova-alt-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Nova scosf thin';
  src: url('../fonts/proxima-nova-scosf-thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova-scosf-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova-scosf-thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/proxima-nova-scosf-thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/proxima-nova-scosf-thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/proxima-nova-scosf-thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Nova semibold';
  src: url('../fonts/proxima-nova-semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova-semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/proxima-nova-semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/proxima-nova-semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/proxima-nova-semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Nova thin';
  src: url('../fonts/proxima-nova-thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/proxima-nova-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova-thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/proxima-nova-thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/proxima-nova-thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/proxima-nova-thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}