//Background Color Codes
$default-color:#000000;
$white-color:#ffffff;
$red-color:#e30613;
$footer-bg-color:#9d9d9c;
$event-news-bg-color:#ececec;

//Heading Color Codes
$main-heading-color:#575756;
$sub-heading-color:#b2b2b2;

//Heading Font Sizes
$banner-heading-size:6rem; //As per template 65px
$main-heading-size:3.4rem; //As per template 65px
$quote-heading-size:3.750rem; //As per template 60px
$mainsub-heading-size:3rem; //As per template 50px
$sub-heading-size:1.5rem; //As per template 24px

//Text Color Codes
$bodytext-color:#706f6f;
$link-color:#9d9d9c;
$link-light-grey-color:#c6c6c6;
$link-dark-grey-color:#878787;

//Body Font Sizes
$subscribe-btn-size:0.813rem; //As per template 13px
$body-text-size:0.8rem; //As per template 14px
$quick-link-size:1.125rem; //As per template 18px
$more-link-size:1rem; //As per template 16px
$knowmore-link-size:1.2rem; //As per template 20px
$quick-link-head-size:1.875rem; //As per template 29px


//Footer Font Sizes
$footer-text-size:0.688rem; //As per template 11px

//Images URL's
$homepage-banner-url:"../images/banners1.jpg";
$subpage-banner-url:"../images/banners2.jpg";
$top-cart-img-url:"../images/cart-top-icon.png";
$social-icons-img-url:"../images/social-icons.png";
$search-icons-url:"../images/search-icon.png";
$banner-arrow-url:"../images/down-arrow.png";
$know-more-arrow-url:"../images/right-arrow.png";
$left-quote-img-url:"../images/quote-left.png";
$right-quote-img-url:"../images/quote-right.png";
$footer-link-img-url:"../images/footer-arrow.png";
$store-locator-img-url:"../images/location-icon.png";
$online-store-img-url:"../images/cart-icon.png";